* {
    font-family: sans-serif;
    
}

body {
    min-width: 320px;
    max-width: 980px;
    margin: 1rem auto;
}


main {
    background-color: azure;

}

.center {
    display: flex;
    justify-content: center;
}

.btnField {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
button {
    min-width: 70px;
    min-height: 70px;
    padding: 10px;
}

#restart-button {
    width: 100%;
}


.score-row {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0.5rem;
}

.score-row dt {
    width: 4rem;
}
.score-row dt::after {
    content: ":";
}
